---
layout: 'layouts/base'
---

<div class="container mx-auto p-10 flex flex-wrap">
  {% for item in collections.post %}
  <article class="sm:w-1/2 lg:w-1/3 px-3 mb-6">
    <div class="overflow-hidden rounded-lg mb-4">
      <img
        class="transition duration-300 transform object-cover object-center hover:scale-110"
        src="{{ item.data.image }}"
        alt=""
      />
    </div>
    <p class="uppercase text-orange-400 text-sm">{{ item.data.topic }}</p>
    <a
      href="{{ item.url }}"
      class="block text-3xl mb-3 leading-10 hover:opacity-50"
    >
      {{ item.data.title }}
    </a>
    <p class="text-sm font-light italic mb-2">
      {{ item.data.excerpt }}
    </p>
    <div>
      <a href="#" class="underline text-blue-800">{{ item.data.author }}</a>
      <span class="text-sm italic font-thin">{{ item.data.date }}</span>
    </div>
  </article>
  {% endfor %}
</div>
